__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
__pycache__/
*.pyzwzw
dev.db
build/
dist/
app/__pycache__/
app/api/__pycache__/
app/schemas/__pycache__/